div h1 {
    background-color: yellow;
}


div > h2 {
    background-color: rgb(111, 0, 255);
    }


 div + h3 {
    background-color: rgb(234, 0, 255);
    }


div ~ h4 {
    background-color: rgb(255, 0, 0);   
    }